body {
  /* background: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  /* background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 197, 61) 0%,
    rgb(255, 94, 7) 90%
  ); */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Calistoga", cursive;
}

/* .weatherBox:hover {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  padding: 1.5em 0;
} */

.pageBox {
  box-shadow: 5px 5px 18px 20px #367f94;
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

h1 {
  font-size: 4em;
  margin-top: 0.5em;
  text-align: center;
}
h2 {
  text-align: center;
  color: black;
}

a {
  color: #70afd2;
  font-size: 15px;
}
.cityCountry {
  margin-top: 2em;
}
.currentIcon {
  display: block;
  margin: 0 auto;
  max-width: 10%;
}

.currentTemp {
  display: block;
  font-size: 5em;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0 px;
  text-align: center;
}

.tempUnits {
  font-size: 0.5em;
  vertical-align: super;
}

.searchBar {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.locationSearchField {
  border-radius: 5px;
}
.searchButton {
  border-radius: 10px;
  box-shadow: black 2px 2px;
}

.currentLocation {
  border-radius: 10px;
  box-shadow: black 2px 2px;
}

.date {
  font-size: 22px;
  padding: 10px;
}
.details {
  text-align: right;
  text-size: 15px;
}

.data {
  text-align: left;
  text-size: 15px;
}

.forecast {
  display: inline-block;
  margin: 0 auto;
}

.forecastImage {
  max-width: 25%;
  padding: 0.25em;
  text-align: center;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* for anything that has a sibling directly before it, so that the initial sibling isnt affected! */
  .split > * + * {
    margin-left: 2em;
  }
}

.footer {
  text-align: center;
}

.footerLink {
  color: #000000;
}

.footerLink:hover {
  color: #ffffff;
}
